html {
    height: 100%;
    width: 100%;
    background-image:radial-gradient( royalblue, skyblue);
    color:darkslategray
  }
  
  h1{
    color:black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  
  h2{
    text-align: center;
  }
  
  h3{
    text-align: center;
  }
  
  img{
    margin:auto;
    display:block;
  }